@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
}

body {
  color: #181A1F;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 62px;
}

h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.body-text-small {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.button {
  padding: 10px 21px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.83px;
  transition: 0.5s all;
}

.slider-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.start,
.end {
  flex: 1;
}

.center {
  width: 1200px;
}

.start {
  background: #fff;
  position: relative;
  z-index: 10;
}

button.bg-orange.button:hover {
  color: #000;
  background-color: #fff;
}

button.bg-white.button:hover {
  color: #fff;
  background-color: #E95440;
}

.top-move {
  position: relative;
  transition: 0.5s all;
  bottom: 0;
}

.top-move:hover {
  bottom: 10px;
}
.maketrip-box .icon{
transition: 0.5s all;
}
.maketrip-box:hover svg {
  color: #fff;
}

.maketrip-box:hover .icon {
  background-color: #E95440;
}


.button-1 {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1-shadow {
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-1-edge {
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, #c13d2d87 0%, #e954407a 8%, #e9544066 92%, #c13d2d3b 100%);
}

.button-1-front {
  display: block;
  position: relative;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  background: #e95440;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
.show{
  display: none;
}
.hide{
  display: none;
}
@media (min-width: 768px) {
  .button-1-front {
    font-size: 16px;
    padding: 8px 30px;
  }
}

.button-1:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-1:hover .button-1-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-1:hover .button-1-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-1:focus:not(:focus-visible) {
  outline: none;
}


@media only screen and (max-width: 768px) {

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h4 {
    font-size: 18px;
    line-height: 25px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

}